body {
  background-image: url("../images/playBG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Cascadia Code", sans-serif;
  text-transform: uppercase;
}
.toolTipText{
  text-decoration: underline;
}